.bg-dark {
  background-color: #000000 !important;
}

.jumbotron {
  background-image: url(img/back1.jpg);
  background-size: contain;
}
img {
  vertical-align: middle;
  border-style: none;
}
.display-4 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.lead {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: white;
}
.section {
  display: block;
  color: #000000;
  background-color: #ffffff;
}
.container {
  max-width: 1140px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.row {
  background-color: #000000da;
  text-align: center;
  padding: 50px;
}
.h2,
h2 {
  font-size: 2rem;
  color: rebeccapurple;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}
p > ul {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}
.justify-content-center {
  font-family: "Ubuntu", sans-serif;
}
.pt-3,
.py-3 {
  padding: 50px !important;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(34, 228, 235);
  text-align: left;
}
